<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" sizes="32x32" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Musicart | API</title>
  </head>
  <body>
    <main class="container">

      <div class="logo">
        <img src="/images/musicart-logo.png" alt="logo" />
      </div>

      <h1 class="title">Musicart</h1>

      <footer>
        <p class="copyright text">Made by <img class="image" src="/images/jh.png" alt="Jhonathan Alencar" title="Jhonathan Alencar" /></p>
      </footer>
    </main>
  </body>
</html>
